.link {
    color: inherit !important;
    text-decoration: none !important;
}

.q-toolbar {
     min-height: 72px !important;
 }

.q-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span.danger {
    color: red;
}