@font-face {
  font-family: 'MICEMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MICEMyungjo', 'Malgun Gothic', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
}

h3 {
  font-size: 2.4em;
  line-height: 1.1;
}

h4 {
  font-size: 2.0em;
  font-weight: 500;
  line-height: 0.4;
  text-align: center;
}

h5 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 0.4;
  text-align: center;
}

hr {
  margin: 2rem;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: lightgray;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

header {
  z-index: 999;
}

footer {
  z-index: 999;
}

main {
  z-index: 99;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

/* 모바일 화면 감지 */
@media only screen and (max-width: 768px) {
  header > .row,
  footer > .row,
  .q-page-container > main {
    width: 100%;
  }
}

/* 데스크톱 화면 감지 */
@media only screen and (min-width: 769px) {
  header > .row,
  footer > .row,
  .q-page-container > main {
    max-width: 1024px;
    width: 100%;
  }
}

.q-toolbar {
  min-height: 72px !important;
}

.q-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}